<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Connected Clients</title>
    <!--<meta charset="UTF-8"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    <!--<script type="text/javascript" src="jquery.js"></script>  -->
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
     <textarea id="editor" style="height:400px;width:400px">
       
    </textarea>
    <script>
    var No_OfUsers;  
    $(document).ready(function ()
    {
        clientCounter = $("#client_count");
        var socket = io.connect(
                         'http://localhost:3', 
                         {'sync disconnect on unload':true});
    
        socket.on('message', function(msg){
            msgReceived(msg);
        });
    
    
    }); 
    </script>
    
  
</body>
</html>