<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Connected Clients</title>
    <!--<meta charset="UTF-8"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    <!--<script type="text/javascript" src="jquery.js"></script>  -->
    <script src="/socket.io/socket.io.js"></script>
    
</head>
<body>
     <textarea id="editor" style="height:500px;width:800px">
       
    </textarea>
    <script>
    var Num_of_users;  
    $(document).ready(function ()
    {
        //clientCounter = $("#Num_of_users");
        var socket = io.connect('http://localhost:3000');
    
        socket.on('message', function(msg){
            msgReceived(msg);
        });
		
		socket.on('edit_editor', function(data){
		    
			//alert(data.val + " " + data.pos);
			var position = data.pos;
			var add_char = data.val;
			var text = $('#editor').val();
			var textbefore = text.substring(0, position - 1);
			var textafter = text.substring(position - 1);
		    $('#editor').val(textbefore + add_char + textafter);
			//$('#editor').html(data.val);
			//document.getElementById('editor').innerHTML=data;
		});
    
	    $('#editor').on('keyup',function(key){
		    
			var value = String.fromCharCode(key.which); 
         	//var newdata= $('#editor').val();
			var position = $('#editor').prop("selectionStart");
			//alert(value + " " + position);
			socket.emit('newdata',{val:value, pos:position});
        });
    
    }); 
    </script>
    
  
</body>
</html>