<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up For collaborative Edit Form</title>
    <link rel="stylesheet" type="text/css" href="/style.css" >
  </head>
  <body>
    <form action="#" method="post" name="sign up for beta form">
      <div class="header">
         <p>Sign Up For 
         Collaborative Edit</p>
      </div>

      <div class="input">
        <input type="text" class="button" id="username" name="username" placeholder="FUCKLIURUI">
        <input type="text" class="button" id="documentID" name="documentID" placeholder="INTOASSHOLE">
        <input type="submit" class="button" id="submit" value="SIGN UP">
      </div>
    </form>
  </body>
</html>
